.regular-textarea{
    width: 351px;
    height: 100px;
}

.tablenav .actions{
    padding: 2px 0px 0 0;
}

/*form th{
    text-align: right;
}*/

/* Ticket Templates */

.sortables{ list-style-type: none; margin: 0; padding: 0; float: left; width: 100%}
.sortables li{ padding:5px; font-size: 12px; width: auto; cursor: move; }

#ticket_elements{ 
    width: 100%; 
    float: left;
    min-height: 20px;
    margin-bottom: 20px;
    padding: 14px;
    border: 1px solid #ccc;
}

#template_document_settings{
    width: 96%;
    border: 1px solid #ccc;
    padding: 2%;
    background-color: #fff;
}

#ticket_elements .element_content{
    display: none;
}

.left-holder{
    width: 75%;
    display: inline-block;
    float: left;
}

.right-holder{
    width: 22%;
    margin-left: 2%;
    float: right;
    margin-top: 81px;
}

.right-holder-second{
    margin-top: 20px;
}

.element_content label,
#template_document_settings label{
    width: 100%;
    margin: 10px 0px 5px 0px;
    display: block;
}

#template_document_settings select{
    width: 100%;
}

.element_content select{
    max-width: 100%;
}

#ticket_elements li{
    margin-bottom: 5px;
    background: none;
    background-color: #fff;
}

.rows{
    width: 100%;
    float: left;
}

.rows li{
    padding-left: 0%;
    padding-right: 0%;
}

.rows ul{
    width: 100%;
    margin-bottom: 30px;
    padding: 14px;
    border: 1px dashed #ccc;
    position: relative;
}

.rows .sortables .ui-state-default{
    background: none;
    background-color: #fff;
}

.rows .element_title{
    font-size: 20px;
}

.row_num_info{
    position: absolute;
    top: -20px;
    z-index: 99999;
    right: 0px;
    color: #8F8F8F;
}

.rows li.ui-state-default.cols{
    display: inline-block;
    float: left;
}

.rows li.ui-state-default.cols div{
    //padding: 5px;
    z-index: 9;
}

.rows .element_title, 
.rows .element_content{
    padding: 5px;
}

.ui-state-highlight { }

.rows li.ui-state-default.cols_1{
    width: 100%;
}

.rows li.ui-state-default.cols_1 .element_title{
    font-size: 20px;
}


.rows li.ui-state-default.cols_2{
    width: 49.2%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_2 .element_title{
    font-size: 20px;
}


.rows li.ui-state-default.cols_3{
    width: 32.5%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_3 .element_title{
    font-size: 17px;
}

.rows li.ui-state-default.cols_4{
    width: 24%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_4 .element_title{
    font-size: 16px;
}

.rows li.ui-state-default.cols_5{
    width: 19%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_5 .element_title{
    font-size: 16px;
}

.rows li.ui-state-default.cols_6{
    width: 15.66%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_6 .element_title{
    font-size: 15px;
}

.rows li.ui-state-default.cols_7{
    width: 13.25%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_7 .element_title{
    font-size: 15px;
}

.rows li.ui-state-default.cols_8{
    width: 11.43%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_8 .element_title{
    font-size: 14px;
}

.rows li.ui-state-default.cols_9{
    width: 10%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_9 .element_title{
    font-size: 14px;
}

.rows li.ui-state-default.cols_10{
    width: 8.94%;
    margin-right: 1%;
}

.rows li.ui-state-default.cols_10 .element_title{
    font-size: 14px;
}

.rows li.ui-state-default.cols.last_child{
    margin-right: 0%;
}

.ticket_margin{
    display: inline;
    width: 16%;
    margin-right: 2%;
    margin-left: 2%;
}

.ticket_element_padding{
    display: inline;
    width: 13%;
    margin-right: 2%;
    margin-left: 2%;
}

#template_document_settings .ticket_margin {
    width: 11%;
}

#template_document_settings .file_url{
    width: 70%;
}

#ticket_elements li{
    height: auto !important;
}

.ticket-table tr,
.event-table tr,
.order-table tr,
.discount-table tr{
    text-align: left;
}

table.order-table th{
    padding-right: 50px;
    padding-bottom: 5px;
}

table.order-details{
    margin-left: -3px;
    margin-top: -3px;
}

.status_green{
    color: green;
}

.status_red{
    color: red;
}

.tc_order_tickets_warning{
    padding: 10px;
    display: block;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.checkin-table{
    margin-top: 20px;
}

label[for=api_key]{
    padding-top: 4px;
    display: inline-block;
    padding-right: 10px;
}

.tc_wrap{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape */
    -moz-opacity: 0;

    /* Safari 1.x */
    -khtml-opacity: 0;

    /* Good browsers */
    opacity: 0; 
}

.tc_wrap input[type="text"],
.tc_wrap textarea{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


.tc_wrap span.description,
.tc_wrap p.description{
    font-size: 13px;
    font-style: italic;
    display: block;
    color: #858585;
    margin-bottom: 5px;
    /*max-width: 500px;*/
}

.tc_wrap .message_placeholder{
    display: none;
}

.tc_wrap select,
.tc_wrap input.file_url{
    min-width: 100%;
}

.tc_wrap #template_document_settings select,
.tc_wrap #template_document_settings input.file_url{
    min-width: 100px;
}

.tc_wrap #poststuff h3{
    color: #fff;
    background: #0893CA;
}

.image-check-wrap {
    float: left;
    height: 85px;
    width: 150px;
    margin-bottom: 35px;
}


.image-check-wrap label img{
    /* fix */
    pointer-events: none;
    position: relative;
}

/* fix */
.image-check-wrap label{
    display: inline-block;
    position: relative;
}
.image-check-wrap label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.check-image {
    height: 90px;
    overflow: hidden;
    text-align: center;
}

.check-image img {
    margin-top: -102px;
}

.active-gateway img {
    margin-top: 0;
}


.image-check-wrap .tc_active_gateways {
    display: none;
}

a.tc_link{
    color: #ff5442;
    text-decoration: none;
}

a.tc_link:hover{
    color: #e04a3a;
    text-decoration: underline;
}

.tc_wrap select{
    width: 25em !important;
    max-width: 100% !important;
    min-width: 1em !important;
}

.tickera_page_tc_settings .chosen-container-single a.chosen-single,
.tickera_page_tc_ticket_templates .chosen-container-single a.chosen-single,
.discount-table .chosen-container-single a.chosen-single,
.ticket-table .chosen-container-single a.chosen-single {
    height: auto;
} 

.tickera_page_tc_settings .chosen-container-single,
.tickera_page_tc_ticket_templates .chosen-container-single,
.discount-table .chosen-container-single,
.ticket-table .chosen-container-single {
    width: 350px !important;
}


@media only screen and (max-width: 1070px){
    .left-holder, .right-holder {
        width: 100%;
    }    

    .right-holder {
        margin-top: 20px;
    }
}

/* Toggle Controls */

.tc-control:focus {
    background:none;
    outline:none;
}
.tc-control {
    border-radius: 10px;
    background: rgb(176,176,176);
    width:39px;
    height:18px;
    display:block;
    position: relative;
    opacity:.8;
}
.tc-control:hover {
    cursor: pointer;
    opacity:1;
}

.tc-control .tc-toggle {
    width: 14px;
    height: 14px;
    margin: 2px;
    background: #F4F4F4;
    border-radius:50%;
    display:block;
    position:absolute;
    -webkit-transition:all .2s ease-in-out;
    left:0px;
}
.tc-control .tc-toggle:hover {
    -webkit-transform:scale(1.1);
}

.tc-control.tc-on .tc-toggle {
    left:21px;
}

.tc-control.tc-on {
    background: rgb(107,187,26);
}


/* Colorbox styles */

#tc-shortcode-select {
    width: 350px;
    background-position:  95% 15px;
}

.tc-shortcodes-colorbox #cboxLoadedContent {
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tc-shortcode-wrap {
    padding: 30px;
}

.tc-shortcode-atts {
    margin-top: 30px;
}


.tc-shortcode-atts .description {
    float: left;
    margin-top: 3px;
}

.shortcode-table tr th {
    width: 20%;
    text-align: left;
    padding: 18px 0;
}

.tc-shortcode-wrap select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 38px;
    padding: 0 10px;
    background: url('../images/arrow-select.png') no-repeat 96% 15px;
    padding: 0 30px 0 10px;
    width: 300px;
}

.shortcode-table {
    width: 100%;
}

.shortcode-table input {
    padding: 8px 10px;
    width: 300px;
}

.tc-title-wrap {
    color: #fff;
    background: #0893CA;
    width: 100%;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tc-title-wrap h3 {
    color: #fff;
    margin: 0;
    font-weight: bold;
}

.tc-shortcodes-colorbox #cboxClose {
    background: url('../images/close-button.png') no-repeat center;
    color: #fff;
    top: 13px;
}

.tc_wrap .tablenav .displaying-num {
    margin-right: 7px;
    padding-top: 7px;
    display: inline-block;
}


@media only screen and (max-width : 500px) {
    .shortcode-table tr th {
        width: 100%;
        display: block;
    }

    .shortcode-table tr td {
        width: 100%;
        display: block;
    }

    .shortcode-table input,
    .shortcode-table select,
    #tc-shortcode-select {
        width: 100%;
    } 
}

label.tc_checkboxes_label{
    width: 100%;
    display: block;
}

.inline_hover{
    text-decoration: underline;
}